<div class="footer fixed">
    <div class="float-right">
        <strong> &copy; @DateTime.Now.Year  ธนาคารไทยเครดิต เพื่อรายย่อย จำกัด (มหาชน)</strong>
    </div>
    <div>
        <span id="_date"></span>
    </div>
</div>
