@inject UserLogin _UserLogin
<div class="row border-bottom">
    <nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0">
        @*<nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">*@
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a> <b><i class="fa fa-user"></i></b>(@_UserLogin.UserProfile().EmpCode)@_UserLogin.UserProfile().NameTh</a>
            </li>
            <li>
                <a class="text-danger" id="logout">
                    <i class="fa fa-sign-out"></i> ออกจากระบบ
                </a>
            </li>
        </ul>
    </nav>
</div>