@using System.Linq;

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded" style="width:160px;">
                </div>
                <div class="logo-element">
                </div>
            </li>
        </ul>
    </div>
</nav>